
h1{
    color: #e29578;
    border-bottom: solid 2px #83c5be;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
}
h2{
    color: #e29578;
    padding: 0px;
}
p{
    color: #edf6f9;
    height: 15rem;
    text-align: center;
    font-size: 2rem;
}
.container{
    width: 80%;
    background-color: #006d77;
    border-radius: 3rem;
}
button {
    background-color: #83c5be;
    margin: 0px 1rem;
    padding: 3rem;
    border-radius: 3rem;
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.scoreboard{
    font-size: 3rem;
    text-align: center;
}

